<%- include('./shared/head-panel.ejs')%>
<div class="chains pt-5 pb-5">
    <div class="container">
        <div class="btn-add">
            <a href="/register" class="btn btn-primary">Add</a>
        </div>
        <div class="card p-5">
            <div class="card-body">
                <% if (user1) { %>
                    <div class="card root-card" style="width: 12rem;">
                        <a href="/?id=<%=user1._id%>">
                            <div class="card-body">
                                <p class="card-text"><%=user1.name%></p>
                                <p class="card-text"><%=user1.email%></p>
                                <p class="card-text">Referel Point: <%=user1.referncePoint%></p>
                                <p class="card-text">Matching Point: <%=user1.matchingPoint%></p>
                                <p class="card-text">Referel Code: <%=user1.referelCode%></p>
                            </div>
                        </a>
                    </div>
                <% } %>
                <div class="child">
                    <div class="row">
                        <div class="col-6">
                            <% if (user1.leftChild) { %>
                                <div class="card root-card" style="width: 12rem;">
                                    <a href="/?id=<%=user1.leftChild._id%>">
                                        <div class="card-body">
                                            <p class="card-text"><%=user1.leftChild.name%></p>
                                            <p class="card-text"><%=user1.leftChild.email%></p>
                                            <p class="card-text">Referel Point: <%=user1.leftChild.referncePoint%></p>
                                            <p class="card-text">Matching Point: <%=user1.leftChild.matchingPoint%></p>
                                            <p class="card-text">Referel Code: <%=user1.leftChild.referelCode%></p>
                                        </div>
                                    </a>
                                </div>
                            <% } %>
                            <div class="children">
                                <div class="row">
                                    <div class="col-6">
                                        <% if (user2.leftChild) { %>
                                            <div class="card root-card" style="width: 12rem;">
                                                <a href="/?id=<%=user2.leftChild._id%>">
                                                    <div class="card-body">
                                                        <p class="card-text"><%=user2.leftChild.name%></p>
                                                        <p class="card-text"><%=user2.leftChild.email%></p>
                                                        <p class="card-text">Referel Point: <%=user2.leftChild.referncePoint%></p>
                                                        <p class="card-text">Matching Point: <%=user2.leftChild.matchingPoint%></p>
                                                        <p class="card-text">Referel Code: <%=user2.leftChild.referelCode%></p>
                                                    </div>
                                                </a>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="col-6">
                                        <% if (user2.rightChild) { %>
                                            <div class="card root-card" style="width: 12rem;">
                                                <a href="/?id=<%=user2.rightChild._id%>">
                                                    <div class="card-body">
                                                        <p class="card-text"><%=user2.rightChild.name%></p>
                                                        <p class="card-text"><%=user2.rightChild.email%></p>
                                                        <p class="card-text">Referel Point: <%=user2.rightChild.referncePoint%></p>
                                                        <p class="card-text">Matching Point: <%=user2.rightChild.matchingPoint%></p>
                                                        <p class="card-text">Referel Code: <%=user2.rightChild.referelCode%></p>
                                                    </div>
                                                </a>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <% if (user1.rightChild) { %>
                                <div class="card root-card" style="width: 12rem;">
                                    <a href="/?id=<%=user1.rightChild._id%>">
                                        <div class="card-body">
                                            <p class="card-text"><%=user1.rightChild.name%></p>
                                            <p class="card-text"><%=user1.rightChild.email%></p>
                                            <p class="card-text">Referel Point: <%=user1.rightChild.referncePoint%></p>
                                            <p class="card-text">Matching Point: <%=user1.rightChild.matchingPoint%></p>
                                            <p class="card-text">Referel Code: <%=user1.rightChild.referelCode%></p>
                                        </div>
                                    </a>
                                </div>
                            <% } %>
                            <div class="children">
                                <div class="row">
                                    <div class="col-6">
                                        <% if (user3.leftChild) { %>
                                            <div class="card root-card" style="width: 12rem;">
                                                <a href="/?id=<%=user3.leftChild._id%>">
                                                    <div class="card-body">
                                                        <p class="card-text"><%=user3.leftChild.name%></p>
                                                        <p class="card-text"><%=user3.leftChild.email%></p>
                                                        <p class="card-text">Referel Point: <%=user3.leftChild.referncePoint%></p>
                                                        <p class="card-text">Matching Point: <%=user3.leftChild.matchingPoint%></p>
                                                        <p class="card-text">Referel Code: <%=user3.leftChild.referelCode%></p>
                                                    </div>
                                                </a>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="col-6">
                                        <% if (user3.rightChild) { %>
                                            <div class="card root-card" style="width: 12rem;">
                                                <a href="/?id=<%=user3.rightChild._id%>">
                                                    <div class="card-body">
                                                        <p class="card-text"><%=user3.rightChild.name%></p>
                                                        <p class="card-text"><%=user3.rightChild.email%></p>
                                                        <p class="card-text">Referel Point: <%=user3.rightChild.referncePoint%></p>
                                                        <p class="card-text">Matching Point: <%=user3.rightChild.matchingPoint%></p>
                                                        <p class="card-text">Referel Code: <%=user3.rightChild.referelCode%></p>
                                                    </div>
                                                </a>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div> 
</div>